[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask==1.0.2
Flask_Cors==3.0.10
pymongo==3.7.2
requests==2.27.1

[dev-packages]

[requires]
python_version = "3.8"
